@import "../common/variable";
@import "../common/mixin";

#proposal {
  width: 100%;
  .page {
    margin-bottom: 1em;
  }

  .passenger {
    text-align: left;
    @include displayFlex;

    > .designation {
      @include flex(1);
      > label {
        margin: 1em 1em 1em 0;

      }
    }

    > .value {
      text-align: right;
      @include flex(1);
      > input {
        width: 6em;
        margin-left: 0.7em;
      }
      > span {
        svg {
          line-height: 3em;
          width: 2em;
          height: 2em;
          display: inline;
        }
      }
    }
  }

  > .parameters {
    > span, button {
      width: 100%;
    }
    span {
      padding: 0.5em 0;
      border-bottom: 1px solid #cecece;
      @include displayFlex;

      > input, label, {
        @include flex(1);
        display: inline;
      }

      > label {
        margin-top: 1em;
      }

      > .readable {
        @include flex(1);
        margin-top: 1em;
        text-align: right;
        display: inline;
        @include lineClamp(2);
      }
    }
  }

}