<div id="proposal" ng-controller="proposalCtrl">

    <div class="search page">
        <autocomplete ng-model="travel.departure" icon="{{ icon.FLAG_START }}"
                      label="{{ translation.DEPARTURE }}"></autocomplete>
        <autocomplete ng-model="travel.arrival" icon="{{ icon.FLAG_END }}"
                      label="{{ translation.ARRIVAL }}"></autocomplete>

        <date ng-model="travel.travelDate"></date>

        <price ng-model="travel.price" label="{{ translation.PRICE }}"></price>

    </div>

    <div class="parameters page">
        <h1>Conditions de voyage</h1>

        <span>
            <label>Style Musical</label><div class="readable">{{ user.music }}</div>
        </span>
        <span>
         <label>{{translation.profile_ANIMAL}}</label><toggle-switch model="preference.animal"></toggle-switch>
        </span>
        <span>
        <label>{{translation.profile_SMOKER}}</label><toggle-switch model="preference.smoke"></toggle-switch>
        </span>

        <button class="btn-validation" ng-click="submit()" id="btn-proposal" type="submit">
            {{translation.VALIDATE}}
        </button>

    </div>
</div>