<div id="proposal" class="content" ng-controller="proposalCtrl">

    <div class="search page">
        <autocomplete ng-model="travel.departure" icon="{{ icon.FLAG_START }}"
                      label="{{ translation.DEPARTURE }}"></autocomplete>
        <autocomplete ng-model="travel.arrival" icon="{{ icon.FLAG_END }}"
                      label="{{ translation.ARRIVAL }}"></autocomplete>

        <date ng-model="travel.travelDate"></date>

        <price ng-model="travel.price" label="{{ translation.PRICE }}"></price>

        <div class="passenger">
            <div class="designation">
                <label>{{ translation.proposal_PASSENGERS }}</label>
            </div>

            <div class="value">
                <span ng-bind-html="iconPassenger"></span><input class="field" ng-model="travel.nbPassenger"/>
            </div>
        </div>

    </div>

    <div class="parameters page">

        <h1>{{translation.profile_CONDITIONS}}</h1>

        <span>
         <label>{{translation.profile_WITH_MUSIC}}</label><toggle-switch model="preference.withMusic"></toggle-switch>
        </span>
        <span>
         <label>{{translation.profile_ANIMAL}}</label><toggle-switch model="preference.animal"></toggle-switch>
        </span>
        <span>
        <label>{{translation.profile_SMOKER}}</label><toggle-switch model="preference.smoke"></toggle-switch>
        </span>
        <button class="btn-validation" ng-click="submit()" id="btn-proposal" type="submit">
            {{translation.VALIDATE}}
        </button>
    </div>
</div>