@import "../common/variable";
@import "../common/mixin";

#login {
  display: table;
  width: 100%;
  top: 60%;
  height: 20em;
  margin-top: -10em;
  position: absolute;
  left: 0;

  > #title-login {
    position: fixed;
    border: 2px solid dimgray;
    height: 4em;
    left: 50%;
    margin-left: -2em;
    top: 10%;
    svg {
      fill: dimgrey;
      width: 4em;
      height: 4em;
    }
  }

  > form {
    width: 100%;
    margin: auto;
    display: table-row;
    vertical-align: middle;
    text-align: center;
    > * {
      width: 90%;
    }

    hr {
      border-top: 1px solid dimgray;
    }
  }
}