<div id="profile" ng-controller="profileCtrl">

    <div id="basic-informations" class="page">
        <span class="icon-profile" ng-bind-html="iconProfile"></span>

        <div class="fullname">
            <div class="main-fullname">
                <span class="username">{{ user.username }}</span>
                <span class="sex" ng-bind-html="iconSex"></span>
            </div>
            <span class="lastname">{{ user.lastname.toUpperCase() }}</span>
            <span class="firstname">{{ user.firstname }}</span>
        </div>

    </div>

    <div id="description" class="page">
        <textarea ng-model="user.moreInfo" ng-keyup="formValidation()"
                  placeholder="{{translation.profile_DESCRIPTION}}"></textarea>
    </div>

    <div id="preferences" class="page">
        <span>
             <label>{{translation.profile_HOBBY}}</label>
            <input type="text" name="hobby" ng-keyup="formValidation()" ng-model="user.hobby"
                   placeholder="{{translation.profile_HOBBY}}"/>
        </span>
        <span>
             <label>{{translation.profile_MUSIC}}</label>
            <input type="text" name="music" ng-keyup="formValidation()" ng-model="user.music"
                   placeholder="{{translation.profile_MUSIC}}"/>
        </span>

        <span>
        <label>{{translation.profile_WITH_MUSIC}}</label><toggle-switch
                model="user.driverPreferences.withMusic"></toggle-switch>
        </span>

        <span>
         <label>{{translation.profile_ANIMAL}}</label><toggle-switch
                model="user.driverPreferences.animal"></toggle-switch>
        </span>
        <span>
        <label>{{translation.profile_SMOKER}}</label><toggle-switch
                model="user.driverPreferences.smoke"></toggle-switch>
        </span>

        <button class="btn-validation" id="btn-profile" ng-click="submit()" type="submit">
            {{translation.VALIDATE}}
        </button>

    </div>

</div>