@import "../common/variable";
@import "../common/mixin";

#signin {
  width: 100%;

  .page {
    margin-bottom: 1em;

    input {
      width: 100%;
    }

  }

  > .driver {
    > span, button {
      width: 100%;
    }
    span {
      padding: 0.5em 0;
      border-bottom: 1px solid #cecece;
      @include displayFlex;

      > label {
        @include flex(1);
      }

      > input {
        @include flex(1);
      }

      > label {
        margin-top: 1em;

      }

    }
  }

  .container-sex {
    @include displayFlex;

    label {
      @include flex(1);
    }

    .sex {
      width: 5em;
      height: 2em;
      @include flex(1);
      text-align: right;

      svg {
        width: 1.5em;
        height: 1.5em;
        fill: dimgrey;
      }

      .male {
        border-right: 1px solid #c3c3c3;
        padding-right: 1em;
        &.active {
          svg {
            fill: #458eff;
          }
        }
      }

      .female {
        padding-left: 1em;
        &.active {
          svg {
            fill: #ff94ee;
          }
        }
      }
    }
  }
}