<div id="signin" class="page" ng-controller="signinCtrl">

    <form ng-submit="submit()">
        <span class="sex">
         <label>{{translation.user_FEMALE}}</label><span><toggle-switch model="sex"></toggle-switch></span><label>{{translation.user_MALE}}</label>
        </span>
        <input type="text" ng-model="firstname" ng-keyup="formValidation()"
               placeholder="{{translation.user_FIRSTNAME}}"/></br>
        <input type="text" ng-model="lastname" ng-keyup="formValidation()"
               placeholder="{{translation.user_LASTNAME}}"/></br>
        <input id="email" type="text" ng-model="email" ng-keyup="formValidation()"
               placeholder="{{translation.user_EMAIL}}"/></br>
        <date ng-model="birthday"></date>
        <input id="username" type="text" ng-model="username" ng-keyup="formValidation()"
               placeholder="{{translation.user_USERNAME}}"/></br>
        <input type="password" ng-model="password" ng-keyup="formValidation()"
               placeholder="{{translation.user_PASSWORD}}"/></br>
        <button class="btn-validation disabled" id="btn-signup" disabled type="submit">{{translation.VALIDATE}}</button>
    </form>
</div>