@import "../../common/variable";
@import "../../common/mixin";

.alert {

  display: none;
  z-index: 2;
  width: 15em;
  height: 12em;
  top: 50%;
  margin-top: -6em;
  left: 50%;
  margin-left: -7.5em;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 1em;
  border-radius: 0.5em;
  text-align: center;
  position: fixed;

  > hr {
    margin: 1em;
    color: white;
  }

  > #iconAlert {
    height: 2em;
    width: 2em;
    margin: 0 auto;

    > svg {
      width: 2em;
      height: 2em;
      fill: white;
    }

  }

  > #alertMessage {
    @include lineClamp(4);
  }
}