@import "variable";
@import "mixin";

body {
  width: 100%;
  height: 100vh;
  font-weight: $font-weight;
  font-family: $font-family;

  //nécessaire pour colorer le fond de l'appli
  //Compte tenu du menu, il faut colorer le div "sb-site" et non pas le body
  > #sb-site {
    @include backgroundLinearGradient(top, bottom, $body-dark-color, $body-light-color);

  }

  .nested-view {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 3em 0 0 0;
    @include backgroundLinearGradient(top, bottom, $body-dark-color, $body-light-color);
  }

  .content {
    padding: 1em;
  }

  h1 {
    font-size: 1.1em;
    font-weight: 500;
    text-align: left;
    margin: 0 0 1em 0;
    display: block;
  }

  header {
    width: 100%;
    height: $header-height;
    background-color: $header-dark-color;
    color: $header-font-color;
    position: absolute;
    z-index: 1;
  }

  footer {
    width: 100%;
    //height: $header-height;
    background-color: black;
    color: white;

  }

  label {
    font-weight: 500;
    color: #3e3e3e;
  }

  input {
    height: $input-height;
    padding: 0.5em;
    border-radius: 0.3em;
    border: 1px solid #dcdcdc;
    margin: 0.5em 0;

    &.alert_error {
      border-color: red;
      @include boxshadow(0, 0, 0.4em, 1px, #ff695d);
    }
  }

  button {
    margin: 0.5em 0;
    height: $input-height;
    border-radius: 0.3em;
    padding: 0 1em 0 1em;
    width: 100%;

    &.btn-validation {
      background-color: $button-validation-color;
      border: 1px solid $button-validation-border-color;
      color: $font-light-color;

      &.disabled {
        background-color: $button-validation-disabled-color;
      }

    }

    &.btn-standard {
      background-color: $button-standard-color;
      border: 1px solid $button-standard-border-color;
      color: $font-dark-color;
    }

    &.btn-nav {
      width: auto !important;
      padding: 0 1em;
      background-color: $button-nav-color;
      border: 1px solid $button-nav-border-color;
      color: $font-dark-color;
    }
  }
  .page {
    padding: 1em;
    height: auto;
    border-radius: 0.3em;
    background-color: $page-color;
    box-sizing: border-box;

    > * {
      width: 100%;
    }
  }

}