@mixin displayFlex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -webkit-flexbox;

  display: -moz-box;
  isplay: -moz-dflexbox;
  display: -moz-flex;

  display: -ms-box;
  display: -ms-flexbox;
  display: -ms-flex;

  display: box;
  display: flexbox;
  display: flex;
}

@mixin flex($value) {
  -webkit-box-flex: $value;
  -webkit-flex: $value;

  -ms-box-flex: $value;
  -ms-flex: $value;

  -moz-box-flex: $value;
  -moz-flex: $value;

  flex: $value;
  box-flex: $value;
}

@mixin stretch {
  @include displayFlex();
  -webkit-flex-direction: column;
  -webkit-box-orient: column;

  -moz-flex-direction: column;
  -moz-box-orient: column;

  -ms-flex-direction: column;
  -ms-box-orient: column;

  flex-direction: column;
  box-orient: column;
}

@mixin lineClamp($nbLines) {
  display: -webkit-box;
  -webkit-line-clamp: $nbLines;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin backgroundLinearGradient($fromDirection, $toDirection, $fromColor, $toColor) {
  background: -webkit-linear-gradient($fromDirection, $fromColor, $toColor);
  background: -moz-linear-gradient($fromDirection, $fromColor, $toColor);
  background: -ms-linear-gradient($fromDirection, $fromColor, $toColor);
  background: -o-linear-gradient($fromDirection, $fromColor, $toColor);
  background: linear-gradient(to $toDirection, $fromColor, $toColor);
}

@mixin boxshadow ($x_shadow, $y_shadow, $blur, $spread, $color){
 -moz-box-shadow: $x_shadow $y_shadow $blur $spread $color;
  -webkit-box-shadow: $x_shadow $y_shadow $blur $spread $color;
  -o-box-shadow: $x_shadow $y_shadow $blur $spread $color;
  box-shadow: $x_shadow $y_shadow $blur $spread $color;
}
