<div id="menu" ng-controller="homeCtrl">
    <ul class="sb-menu">
        <li ng-click="redirectToState('main.proposal')"><span>{{ translation.home_PROPOSAL }}</span></li>
        <li ng-click="redirectToState('main.search')"><span>{{ translation.home_SEARCH }}</span></li>
        <li ng-click="redirectToState('main.profile')"><span>{{ translation.home_PROFILE }}</span></li>
        <li ng-click="redirectToState('main.history')"><span>{{ translation.home_HISTORY }}</span></li>
        <li ng-click="disconnect()"><span>{{ translation.home_DISCONNECT }}</span></li>
    </ul>
</div>