<div id="menu" ng-controller="homeCtrl">
    <ul class="sb-menu">
        <li><span ng-click="redirectToState('main.proposal')">{{ translation.home_PROPOSAL }}</span></li>
        <li><span ng-click="redirectToState('main.search')">{{ translation.home_SEARCH }}</span></li>
        <li><span ng-click="redirectToState('main.profile')">{{ translation.home_PROFILE }}</span></li>
        <li><span ng-click="redirectToState('main.history')">{{ translation.home_HISTORY }}</span></li>
        <li><span ng-click="disconnect()">{{ translation.home_DISCONNECT }}</span></li>
    </ul>
</div>