@import "../mixin";

.travelCities {
  display: table;
  padding: 1em;
  width: 100%;

  > * {
    border-right: 1px solid dimgrey;
    display: table-cell;
    vertical-align: top;
    width: 50%;

    > label {
      display: block;
    }

    > span {
      font-size: 1.3em;
      text-align: center;
      @include lineClamp(3);
    }
  }
  .arrival {
    border: none;
  }
}