<!doctype html>
<html ng-app="app">
<head>

    <title>Labo Project</title>

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">


    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="lib/angular-resource/angular-resource.min.js"></script>
    <script src="lib/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="lib/angular-md5/angular-md5.min.js"></script>
    <script src="lib/angular-md5/angular-md5.js"></script>
    <script src="lib/fastclick/lib/fastclick.js"></script>
    <script src="lib/Slidebars/slidebars/0.9/slidebars.min.js"></script>

    <link rel="stylesheet" type="text/css" href="lib/Slidebars/slidebars/0.9/slidebars.min.css"/>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="index.css"/>

</head>
<body>
<div id="windowAlert" class="alert" ng-controller="alertCtrl">
    <span id="iconAlert" ng-bind-html="iconAlert"></span>
    <hr/>
    <span id="alertMessage">{{message}}</span>
</div>

<div id="autocomplete" class="autocomplete" ng-controller="autocompleteCtrl">
    <div class="search">
        <input id="autocomplete-search" ng-keyup="loadResults()" ng-model="searchParam"/>
        <button ng-click="desactivateAutocomplete()" class="btn-nav">{{ translation.CANCEL }}</button>
    </div>
    <div id="autocomplete-result" ng-show="searchParam.length > 0">
        <span ng-if="results.length > 0" ng-click="selectCity(result)" ng-repeat="result in results track by $index">{{ result.name_city }}</span>
        <span ng-if="results.length === 0">{{ translation.autocomplete_NORESULTS }}</span>
    </div>
</div>


<div id="sb-site">
    <div id="header-view" ui-view="headerView"></div>
    <div id="main-view" ui-view="mainView"></div>
</div>

<div class="sb-slidebar sb-right">
    <div id="menu-view" ui-view="menuView"></div>
</div>

<!--<script>-->
<!--window.addEventListener('load', function () {-->
<!--FastClick.attach(document.body);-->
<!--}, false);-->
<!--</script>-->
<script src="common/translation/service.js"></script>
<script src="common/router/router.js"></script>
<script src="common/remote/remote.js"></script>
<script src="common/icon/service.js"></script>
<script src="common/header/service.js"></script>
<script src="common/header/ctrl.js"></script>
<script src="common/alert/service.js"></script>
<script src="common/alert/ctrl.js"></script>
<script src="common/menu/menu.js"></script>
<script src="common/autocomplete/service.js"></script>
<script src="common/autocomplete/ctrl.js"></script>

<script src="search/service.js"></script>
<script src="search/ctrl.js"></script>

<script src="login/service.js"></script>
<script src="login/ctrl.js"></script>

<script src="signin/service.js"></script>
<script src="signin/ctrl.js"></script>

<script src="proposal/service.js"></script>
<script src="proposal/ctrl.js"></script>

<script src="profile/service.js"></script>
<script src="profile/ctrl.js"></script>

<script src="home/ctrl.js"></script>

<!--<script src="display/ctrl.js"></script>-->

<script src="index.js"></script>
</body>
</html>