@import "common/normalize";
@import "common/main";
@import "common/common";
@import "util/util";
@import "login/login";
@import "signin/signin";
@import "profile/profile";
@import "search/search";
@import "proposal/proposal";
@import "home/home";

body {
  position: fixed;
  > #sb-site {
    height: 100%;
    @include stretch();

    > #main-view {
      padding: 1em;
      overflow: scroll;
      -webkit-overflow-scrolling: touch;
      @include flex(1);
      @include stretch();
    }

    > #header-view {
      height: $header-height;
    }
  }
}